@model PresentationApp.Models.Presentation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Presentation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentSlide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentSlide)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
